span.social-logo {
    vertical-align: sub;
}

.vk-link {
    fill: #0077ff;
}

.tgram-link {
    fill: #54a9eb;
}

/* .is-child{
box-shadow: none;
} */

.accordion-item {
    border-bottom: 1px solid #ddd;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.accordion-header {
    padding: 10px;
    cursor: pointer;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    text-align: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.accordion-content {
    display: none;
    padding: 10px;
    border-top: 1px solid #ddd;

}

.accordion-content {
    max-width: 600px;
    margin: auto;
    overflow-y: auto; /* Разрешить прокрутку внутри контейнера */
    max-height: 800px; /* Задать максимальную высоту контейнера */
    border-radius: 5px;
}

















/* Стили для слайдера */
#slideshow-container {
    max-width: 600px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.slide-img {
    width: 100%;
    height: auto;
}

/* Стили для кнопок навигации */
.prev,
.next {
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}